[submodule "language-server-protocol"]
	path = language-server-protocol
	url = https://github.com/stefanstoeckigt/language-server-protocol.git
  branch = develop
[submodule "hdl-parser"]
	path = hdl-parser
	url = https://github.com/stefanstoeckigt/hdl-parser.git
  branch = develop
